
.custom-image {
    max-width: 7rem;
    height: auto;
   
  }
  
  .custom-background1 {
    background-color:var(--lightBackgroud);
  }

  
  
  .custom-background2 {
    background-color:var(--mainBrown);
  }
  
  .custom-background3 {
    background-color:var(--secondaryBrown);
  }

  .custom-background4 {
    background-color:var(--darkBrown);
  }