.checkout-container{
    background-color: var(--secondaryBrown);
  }

.checkout-bg-img {
    position: relative;
    width: 100%;
    height: 700px;
    background-image: url(./imgs/shop-window.jpg);
    background-size:cover;
    background-position: center;
  }
  
  .checkout-gd-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgb(0, 0, 0, 0.9),
      rgb(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.2),
      transparent
    );
  }

.title {
    font-weight: bolder;
    color: var(--mainBrown);
    z-index: 1;
  }

.completeOrderBtn {
  background-color: var(--mainBrown);
  color: var(--lightBackgroud);
}

.completeOrderBtn:hover {
  background-color: var(--secondaryBrown);
  color: var(--lightBackgroud);
}
