body{ background-color: black;
}

.arriba{background-image:url("/imgs/contacto.jpg") ;
        background-size: cover;
         height: 95vh;
        color:white;
        font-weight: bold ;
       
        
         }

      .blur{   backdrop-filter: blur(4px);}