body {
  background-color: black;
}

.contact-banner {
  background-image: url("/imgs/contacto.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 400px;
}

.blur {
  backdrop-filter: blur(4px);
}

.custom-background {
  background-color: var(--creamyWhite);
}
