.home-banner {
  width: 100%;
}

.home-gd-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgb(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.2),
    transparent
  );
}

.home-title {
  position: absolute;
  top: 9%;
  left: 0;
}

.home-logo {
  max-width: 38%;
}

.week-picks-banner {
  color: var(--creamyWhite);
  background-color: var(--mainBrown);
}

.home-section-logo {
  max-width: 5rem;
}

.custom-image {
  max-width: 5rem;
  height: auto;
}

.home-separator {
  margin-top: 8rem !important;
  margin-bottom: 8rem !important;
}

#homeAboutSection {
  margin: 5rem 0;
  flex-wrap: wrap;
}

.home-text-container {
  background-color: white;
  max-width: 600px;
  width: 100%;
  height: auto;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.img-home {
  width: 100%;
  max-width: 800px;
  max-height: 700px;
  height: auto;
  object-fit: cover !important;
}

.home-value {
  color: var(--secondaryBrown);
  transition: 0.5s ease-in;
  opacity: 50%;
}

.home-value:hover {
  transform:scale(1.1);
  opacity: 100%;
  color: var(--mainBrown);
}