#homeBanner1 {
    width: 100vw;
}

.home-gd-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgb(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.2),
      transparent
    );
  }

#homeTitle {
  position: absolute;
  top: 6rem;
  left: 28rem;
}

#homeLogo {
    max-width: 30rem;
}

.home-section-logo {
    max-width: 5rem;
}

.custom-image {
  max-width: 5rem;
  height: auto;
}

.custom-background1 {
  background-color:var(--creamyWhite);
}

.custom-background2 {
  background-color:var(--secondaryBrown);
}

.custom-background3 {
  background-color:var(--secondaryBrown);
}

.custom-background4 {
  background-color:var(--secondaryBrown);
}