.cardBody {
  background-color: white;
}

a.addToCartButton {
  font-size: 13px;
  background-color: var(--secondaryBrown);
  color: var(--lightBackgroud);
}
.addToCartButton:hover {
  background-color: var(--mainBrown);
  color: var(--lightBackgroud);
}

hr {
  color: var(--lightBackgroud);
}

.priceText {
  color: var(--secondaryBrown);
}

.accordion-button:not(.collapsed) {
  color: var(--lightBackgroud);
  background-color: var(--mainBrown);
  box-shadow: inset 0 calc(-1 * var(--secondaryBrown)) 0 var(--secondaryBrown);
}

.accordion-button.collapsed {
  color: var(--lightBackgroud);
  background-color: var(--darkBrown);
}
