.cardBody {
  background-color: white;
}

a.addToCartButton {
  font-size: 13px;
  background-color: var(--mainBrown);
  color: var(--lightBackground);
  
}
.addToCartButton:hover {
  background-color: var(--secondaryBrown);
  color: var(--lightBackground);
  cursor: pointer;
}

hr {
  color: var(--darkBrown);
}

.priceText {
  color: var(--secondaryBrown);
}

.main-container {
  background-image: url("https://mcbzesritumxqjtbullp.supabase.co/storage/v1/object/public/resources/grey-marble-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

.data-container {
  padding-top: calc(55.33px - 2rem);
}

.accordion-button:not(.collapsed) {
  color: var(--darkBrown);
  background-color: var(--clr-brown-terciary);
  box-shadow: inset 0 calc(-1 * var(--secondaryBrown)) 0 var(--secondaryBrown);
}

.accordion-button.collapsed {
  color: var(--darkBrown);
  background-color: var(--secondaryBrown);
}