.cardBody {
  background-color: white;
}

a.addToCartButton {
  font-size: 13px;
  background-color: var(--mainBrown);
  color: var(--lightBackgroud);
  
}
.addToCartButton:hover {
  background-color: var(--secondaryBrown);
  color: var(--lightBackgroud);
}

hr {
  color: var(--darkBrown);
}

.priceText {
  color: var(--secondaryBrown);
}

.main-container {
  background-image: url("/imgs/grey-marble-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
 
}

.data-container{
  padding-top: calc(55.33px - 2rem);
}


.accordion-button:not(.collapsed) {
  color: var(--lightBackgroud);
  background-color: var(--mainBrown);
  box-shadow: inset 0 calc(-1 * var(--secondaryBrown)) 0 var(--secondaryBrown);
}


.accordion-button.collapsed {
  color: var(--lightBackgroud);
  background-color: var(--darkBrown);
}


