.profile-banner {
  background-image: url("https://mcbzesritumxqjtbullp.supabase.co/storage/v1/object/public/resources/profile-banner.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.profile-container {
  background-color: white;
}

.span-name {
  text-transform: capitalize;
}
