.profile-banner {
  background-image: url("/imgs/profile-banner.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.profile-container {
  background-color: white;
}

.span-name {
  text-transform: capitalize;
}
