@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

.navbar-custom {
  width: 100%;
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto Condensed", sans-serif;
}

.nav-top {
  background-color: rgba(0, 0, 0, 0) !important;
  transition: background-color 0.3s;
}

.nav-scroll {
  backdrop-filter: blur(5px);
  background-color: #0000005e !important;
}

.nav-logo {
  width: 50px;
  height: 50px;
}

.nav-link {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0.5rem 0 0.5rem;
}

.nav-link:hover {
  color: white;
}

.nav-link.active {
  color: var(--secondaryBrown) !important;
  font-weight: bold;
}

.nav-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  cursor: pointer;
}
