.imgCard{
  
 
}

.addToCart {
  width: 416px;
  height: 30px;
  display: block;
  background-color: #c5a88096;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

h6 {
  color: var(--lightBackgroud);
  font-size: 17px;
  font-family: 'Oswald', sans-serif
}

.position-relative:hover .addToCart {
  opacity: 1;
  visibility: visible;
}

body {
  background-color: var(--lightBackgroud);
}

.productName{
  font-family: 'Oswald', sans-serif ;
 color: var(--darkBrown);
}

.priceText{
 color:var(--secondaryBrown);
 font-family: 'Merriweather', sans-serif 
 
}

