@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

:root {
  --mainBrown: #532e1c;
  --secondaryBrown: #c5a880;
  --darkBrown: #241b1b;
  --lightBackground: #e6e6e6;
  --clr-brown-terciary: #efd9ba;
  --creamyWhite: #f8f0e5;
  /* Transition default */
  --transition-default: all 100ms ease-in-out;
  /* Roboto Condensed Typo */
  --roboto-condensed: "Roboto Condensed", sans-serif;
}

body {
  background-color: var(--creamyWhite) !important;
}
.main-btn {
  background-color: var(--mainBrown);
  color: var(--lightBackground);
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
  transition: var(--transition-default);
  border: 1px solid var(--mainBrown);
  text-decoration: none;
}

.main-btn:hover {
  background-color: transparent;
  color: var(--mainBrown);
  border: 1px solid var(--mainBrown);
  border-color: var(--mainBrown);
}

input:focus {
  box-shadow: none !important;
  border-color: var(--secondaryBrown) !important;
  color: var(--mainBrown) !important;
}

.scroll-btn {
  position: fixed;
  bottom: 50px;
  right: 25px;
  height: 2rem;
  width: 2rem;
  background-color: var(--secondaryBrown);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-default);
}

.scroll-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: white;
}

.line-span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  border-bottom: 3px solid var(--clr-brown-terciary);
  margin: 1.5rem 0;
}

.project-btn {
  position: fixed;
  bottom: 50%;
  left: 0px;
  height: 2rem;
  width: auto;
  padding: 1rem;
  background-color: var(--clr-brown-terciary);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-default);
  animation-name: opacity;
  animation-duration: 3s;
  z-index: 99999;
}

@keyframes opacity {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    opacity: 1;
    left: 0px;
  }
}

.project-btn:hover {
  background-color: var(--mainBrown);
}

.project-link {
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
}

select {
  background-color: white;
  border: 0;
}

select:focus {
  box-shadow: none !important;
  border-color: var(--secondaryBrown) !important;
  color: var(--mainBrown) !important;
}